.FriendListSection nav {
  width: 100%;
  background-color: var(--color_white);
  height: 50px;
  box-shadow: 0 0 8px 6px #ccc;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.FriendListSection nav input[type="search"] {
  width: 200px;
  height: 28px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  text-indent: 4px;
}
#friendCard {
  display: flex;
  background-color: var(--color_white);
  margin-top: 8px;
  padding: 0.4rem;
}
.friendCardInfo {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#friendCard img.friendImg {
  width: 70px;
  height: 70px;
  border: 2px solid var(--esut_color);
  border-radius: 8px;
}
.friendCardButton {
  display: flex;
  width: 60%;
  justify-content: end;
  gap: 6px;
}
.friendCardButton button {
  align-self:flex-end; 
  cursor: pointer;
  width: 80px;
  height: 25px;
  outline: none; 
  border: none;
  border-radius:6px;              
}
.friendCardButton button.add {
   background-color: var(--esut_color);
   color: var(--color_white);                
}
