@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');



* {
   margin: 0;  
   padding: 0;   
   box-sizing: border-box;  
   font-family: 'Open Sans', sans-serif;
   /* overflow: hidden;        */
}
 

body {
   display:grid;
   grid-template-columns: 1fr;
   justify-items: center;
   align-items:start;
   overflow: hidden;
   
}
#root{
   position: relative;
   width: 100%;
   height: 100vh;
   overflow-y: scroll;
}

i {
   padding-right: 5px;
}

.fa-eye {
   padding: 0;
   font-size: 5px;
   color:#ccc;
   margin-left:-15px;
}
select {
   width: 190px;
   cursor: pointer;
}
.auth_nav{
   position:fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 1;
   display: flex;
   background-color:rgb(71, 11, 11);
   animation: animate_auth_nav 800ms forwards ease-in 500ms;
   justify-content:space-between;
   padding: 6px 8px 6px 8px;
   min-height:50px;
   max-height:0;
   transition: max-height 3s ease;
   color: #fff;
}

.inc_nav_height {
   max-height:400px;
   transition: max-height 3s ease;
}
.auth_nav div.logo {
   display: flex;
   justify-content: center;
   gap:8px;
   align-self: self-start;
}

.auth_nav img {
   width: 40px;
   height: 40px;
}
.auth_nav div.logo span {
   align-self: center;
   font-size:13px;
}


/*------------------------------- End of authentication navigation ------------------------ */
.authBackground {
   position:relative;
   min-height: 100vh;
   background-image:url(../../asserts/library.webp);
   backdrop-filter:blur(30px);
   background-size: cover;
   overflow-y: scroll;
}

.authMain {
    position:absolute;
    margin: 0 auto;
    justify-items: center;
    width:50%;
   overflow: hidden;
   background-color: #fff;
   border-radius: 4px;
   height:450px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}
   
.authSlideContainer {
   width: 100%;
}
.auth_slider {
   display: flex;
   justify-content:space-around;
   position: absolute;
   height:fit-content;
   width:200%;
   border-radius: 4px;
   transition: 400ms;
}

.SignUp_form {
   margin-top:-0.6rem;
   width: 60%;
   overflow-y: scroll;
}
.SignUp_form nav {
   height:40px;
   background-color: var(--color_white);
   width: 100%;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.57);
}
.SignUp_form nav .fa-arrow-left {
   margin: 1rem 0 0 1rem;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  padding: 8px 0 8px 0;
  gap:0.7rem;
  width: 100%;
}


.form .form_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}
.form h3 {
   padding: 8px;
   color: #360808;
}
.form .form_header img {
   width: 30px;
   height: 35px;
}
.form .form_header p {
   align-self: center;
}
.form .form_control_input {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   top: 2rem;
   gap:1.5rem;
   width: 60%;
}
.form #SignIn_form, #forgot_password{
   flex-direction: column;
}
.form .form_control_input div input, select {
   outline: none;
   border: none;
   border-bottom-style: ridge;
   border-bottom-width:2px;
   transition: 1s;
   width: 170px;
}
.form .form_control_input div input:focus{
   padding-left:8px;
   transition: padding-left 1s;
}

.form p {
  padding:8px;
  font-size: 14px;
}

.form div p {
   margin-left: -8px;
}
.PasswordAccountDiv p {
   margin-top: 12px;
}

.form  a {
   color: #441111;
   text-decoration: none;
}
.form  button{
   outline: none;
   cursor: pointer;
   border: none;
   width:180px;
   padding: 0.5rem;
   color: #fff;
   background-color:#6e1d1d;
   border-radius: 4px;
   transition: 1s;
}
.form  button:hover {
   background-color: #420d0d;
   transition: 1s;
}
.auth_dialog_Box {
   position:fixed;
   top:0;
   left:50%;
   transform: translate(-50%, -50%) scale(0);
   background-color:#fff;
   width: 260px;
   height:fit-content;
   text-align: center;
   border-radius: 6px;
   padding: 0 30px 30px;
   border: 1px solid #ccc;
   box-shadow: 0 0 4px 3px rgba(190, 39, 39, 0.2);
   transition: transform 0.4s, top 0.4s;
}

.open-popup {
   top: 50%;
   transform: translate(-50%, -50%) scale(1);
}

.auth_dialog_Box p {
   padding:6px;
   font-size: 13px;
   line-height: 1.4rem;
}
.auth_dialog_Box img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #fff;
   border-radius:50%;
}
.auth_dialog_Box .close_btn {
   outline: none;
   width: 80%;
   padding: 0.5rem;
    color: #fff;
   background-color: #420d0d;
   border-radius: 3px;
   cursor: pointer;
   border: none;
}

@media screen and (max-width:380px) {
   main {
      top: 1.5rem;
   }
}
@media screen and (max-width:660px) {
 
   .auth_nav div  {
   align-self:center;
}
   .auth_nav ul {
      flex-direction:column;
      display: none;
   }

   .auth_nav ul li {
      margin:8px;
   }
    .auth_nav ul li a {
      font-size: 0.8rem;
   }
    .auth_nav .nav_burger {
      display: block;
   }
   .authMain {
      width: 80%;
   }
}




